@import './colors.css';

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#content {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#titleDOM_id {
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: 700;
}

#temperatureWrapper_id {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin-top: 30px;
  gap: 60px;
}

#temperatureImg_id {
  object-fit: cover;
}

#temperatureLabel_id {
  line-height: 150px;
  font-size: 50px;
  font-weight: 700;
  color: var(--color-text-primary);
}

#conditionsDesc_id {
  margin-top: 30px;
  color: var(--color-text-primary);
  font-size: 25px;
}

#feelsLike_id {
  margin-top: 25px;
  color: var(--color-text-secondary);
}

#searchAgain_id {
  color: var(--color-text-primary);
  margin-top: 30px;
  border-radius: 8px;
  padding: 10px 30px;
  border: none;
  background-color: var(--color-bg-button);
  transition: 0.2s;
}

#searchAgain_id:hover {
  background-color: rgba(117, 16, 117, 0.2);
  cursor: pointer;
}
