@import './colors.css';

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#content {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#titleDOM_id {
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: 700;
}

#temperatureWrapper_id {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin-top: 30px;
  gap: 60px;
}

#temperatureImg_id {
  object-fit: cover;
}

#temperatureLabel_id {
  line-height: 150px;
  font-size: 50px;
  font-weight: 700;
  color: var(--color-text-primary);
}

#conditionsDesc_id {
  margin-top: 30px;
  color: var(--color-text-primary);
  font-size: 25px;
}

#feelsLike_id {
  margin-top: 25px;
  color: var(--color-text-secondary);
}

#searchBarWrapperCity_id {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 100px 5px 0px 5px !important;
  width: 100% !important;
}

#textArea_id {
  color: var(--color-text-primary);
  width: 93%;
  height: 60px;
  text-align: start;
  resize: none;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  background-color: var(--color-bg-main);
  border-radius: 8px 0px 0px 8px;
  min-height: 0;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

#textArea_id:focus {
  outline: none !important;
}

#searchButton_id {
  min-width: 60px;
  width: 7%;
  height: 60px;
  border-radius: 0px 8px 8px 0px;
  outline: none !important;
  border: none;
  background-color: rgba(117, 16, 117, 1);
  background-image: url('../resources/lupa.png');
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
}
#searchButton_id:hover {
  cursor: pointer;
  background-color: rgba(117, 16, 117, 0.7);
}
