@import './colors.css';

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#content {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  justify-content: center;
}

#titleDOM_id {
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: 700;
  margin-right: auto;
}
