@import './colors.css';

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#content {
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#titleDOM_id {
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: 700;
}

#temperatureWrapper_id {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin-top: 50px;
  gap: 60px;
}

#temperatureImg_id {
  object-fit: cover;
}

#temperatureLabel_id {
  line-height: 150px;
  font-size: 50px;
  font-weight: 700;
  color: var(--color-text-primary);
}
